.about-page {
  width: 100%;
  min-height: auto;
  margin-bottom: 5rem;
}

.about-page h1 {
  margin: 0 0 2rem 0;
  text-align: center;
  text-transform: uppercase;
}

.about-page hr {
  border: 1px solid rgba(170, 170, 170, 0.24);
  margin: 4rem 0;
}

