.about-page {
  width: 100%;
  min-height: auto;
}

.about-page h1 {
  margin: 0 0 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 1440px) and (max-width: 1919px){
  .about-page h1 {
    margin: 0 0 1rem 0;
  }
}