.certificates-section{
  width: 100%;
}

.certificates-section h2{
  margin: 2rem 0 5rem;
  text-align: center;
  animation: appearFromNothingness 0.5s ease;
}

.certificates-section .certificates-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.certificates-section .certificate-container{
  width: 16%;
}

.certificates-section .certificate-container img{
  width: 100%;
  border: 1px solid #000;
  transition: 0.5s;
}

.certificates-section .certificate-container:hover img{
  transform: scale(1.1);
}

@keyframes appearFromNothingness{
  from{
    opacity: 0;
    transform: scale(0);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}

/* different screen sizes styles */
@media (max-width: 1024px){

  .certificates-section h2{
    font-size: xx-large;
  }

  .certificates-section .certificates-container{
    width: 95%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .certificates-section .certificate-container{
    width: 60%;
  }
}