:root{
  --about-page-primary-color: #01579b;
}

.about-page_section-3{
  width: 100%;
  height: fit-content;
}

.about-page_section-3 .about-page_main-perspectives {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.about-page_section-3 .about-page_main-perspectives .perspective-container {
  width: 17rem;
  height: 22rem;
}

.perspective-container .perspective-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 10rem;
}

.perspective-container .perspective-logo-container img {
  transition: all 0.4s;
}

.perspective-container:hover .perspective-logo-container img {
  transform: scale(1.1);
}

.perspective-container .perspective-name-container {
  color: #fff;
  background-color: var(--about-page-primary-color);
  height: 12rem;
  width: 17rem;
  display: grid;
  place-content: center;
  font-size: 18px;
  text-align: center;
}

.perspective-container .perspective-name-container h3 {
  cursor: default;
}