.single-project_main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: fit-content;
  height: auto;
  margin-bottom: 10rem;
  background-color: #01579b;
}

.single-project_text-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  padding-inline: 1rem;
}

.single-project_text-element {
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
}

.single-project_images-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin: 4rem 0;
}

.singleImageWrapper{
  width: 32rem;
  height: 18.5rem;
  margin: 4rem 0;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.singleImageWrapper .magnifier-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffda;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 2rem;
  opacity: 0;
  transition: 400ms;
}

.singleImageWrapper .magnifier-icon{
  stroke: #01579b;
  font-size: 50px;
}

.singleImageWrapper:hover .magnifier-wrapper{
  opacity: 1;
}

.singleImageWrapper img{
  width: 100%;
  height: 100%;
}

.single-project_images-wrapper li{
  width: 32rem;
  height: 18.5rem;
}

.single-project_images-wrapper li img{
  width: 100%;
  height: 100%;
  border: 7px solid #fff;
  padding: 10px;
  transform: scale(1);
  transition: all .2s;
}

.single-project_images-wrapper li:hover img{
  border: none;
  transform: scale(1.02);
}
