:root {
  --about-page-primary-color: #01579b;
  --section-four-text-color: #000000;
}

.about-page_section-4 h2 {
  color: var(--section-four-text-color);
  text-align: center;
  margin-top: 2rem;
  animation: fade 0.6s 0.2s ease-in-out backwards;
}

.about-page_section-4 .about-page_our-value {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  place-content: center;
  margin-top: 5rem;
  column-gap: 2rem;
}

.about-page_section-4 .about-page_our-value .our-value-container {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  color: #fff;
  animation: tilt-in-bottom-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.about-page_section-4 .about-page_our-value .our-value-container:hover .our-value-logo-container img{
  transform: translateY(-1rem);
}

.about-page_section-4 .about-page_our-value .our-value-container .our-value-logo-container{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-page_section-4 .about-page_our-value .our-value-container .our-value-name-container{
  width: 100%;
  height: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  background-color: var(--about-page-primary-color);
}

.about-page_section-4 .about-page_our-value .our-value-container .our-value-logo-container img{
  width: 50%;
  height: 90%;
  transition: all .4s;
}

@keyframes fade{
  0%{
    opacity: 0;
    scale: 0;
    translate: 0 -14rem;
  }
  50%{
    opacity: 0.5;
    scale: 0.5;
    translate: 0 -7rem;
  }
  75%{
    opacity: 1;
    scale: 1.3;
    translate: 0 0;
  }
  100%{
    opacity: 1;
    scale: 1;
    translate: 0 0;
  }
}

@keyframes tilt-in-bottom-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}