:root{
  --nav-text-color: #fff;
  --nav-bg-color: #01579b;
  --menu-items-active-state-bg: #4141413b;
}

.navbar-container {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: var(--nav-text-color);
  background-color: var(--nav-bg-color);
}

.nav-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}

.menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 10px;
  text-transform: uppercase;
}

.menu-items {
  position: relative;
  font-size: 17px;
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}

.menu-items .dropdowm li {
  display: block;
  color: inherit;
  font-size: inherit;
  font-weight: 600;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s;
}

.menu-items li.isActive{
  background-color: var(--menu-items-active-state-bg);
  border-radius: 4px;
}


.menu-items > a,
.menu-items .dropdowm > li {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu-items .dropdowm > li{
  display: flex;
  align-items: center;
}

.menu-items a:hover,
.menu-items li:hover,
.menu-items .active {
  background-color: var(--menu-items-active-state-bg);
  color: #fff;
  border-radius: 4px;
}

.dropdown-nav-subelements{
  background-color: var(--nav-bg-color);
  padding: 4px 0;
  min-width: 18rem;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08), 0 4px 6px -2px rgba(71, 63, 79, 0.16);
  border-top: 3px solid #443c28;
  border-bottom: 3px solid #443c28;
  position: absolute;
  top: 4.07rem;
  left: 0;
  z-index: 1;
	animation: slide-bottom 0.2s ease-in-out both;
}

/* animation for dropdown menu */
@keyframes slide-bottom {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    z-index: 2;
  }
}

.dropdown-nav-subelements a{
  padding: 15px 10px;
  font-size: large;
}

.dropdown-nav-subelements a:hover{
  background-color: var(--menu-items-active-state-bg); 
  border-radius: 0;
}


/* dropdown button arrow styling */

.menuIsActivated {
  margin-top: 2.5px;
  margin-left: 5px;
  transform: rotate(-180deg);
  transition: 0.2s;
}

.menuIsDeactivated {
  margin-top: 2.5px;
  margin-left: 5px;
  transform: rotate(0);
  transition: 0.2s;
}


/* navigation bar hamburger menu styles */
.nav-area .hamburgerMenu {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 4rem;
  right: 4rem;
  width: 2.25rem;
  height: 1.2rem;
  cursor: pointer;
}

.nav-area .hamburgerMenu span {
  position: absolute;
  left: 0;
  right: 0;
  transform: rotate(0);
  width: 100%;
  height: 2px;
  background-color: var(--nav-text-color);
  border-radius: 0.2rem;
  transition: all 0.5s;
}

.nav-area .hamburgerMenu span:first-child{
  top: 1.2em;
}
.nav-area .hamburgerMenu span:nth-child(2){
  top: 0.5em;
}
.nav-area .hamburgerMenu span:last-child{
  bottom: 1.2em;
}

.nav-area .hamburgerMenu span.lineMiddleSpin{
  transform: rotate(45deg);
  top: 15px;
}

.nav-area .hamburgerMenu span.lineTopSpin{
  transform: rotate(-45deg);
  top: 15px;
}

.nav-area .hamburgerMenu span.lineBottomSpin{
  opacity: 0;
}

/* screen sizes styles */
@media (max-width: 1740px){
  .nav-area {
    justify-content: space-around;
  }
}

@media (max-width: 1224px){
  .nav-area {
    justify-content: center;
    gap: 4rem;
  }
}

@media (max-width: 1119px){
  .nav-area .logo-wrapper img{
    width: 160px;
  }

  .nav-area .hamburgerMenu {
    opacity: 1;
  }

  .menus {
    width: 100%;
    background-color: var(--nav-bg-color);
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    opacity: 0;
    z-index: -1;
    flex-direction: column;
    align-items: center;
    column-gap: 0px;
    position: absolute;
    top: 100%;
    right: 0;
    transform: scaleY(0.4);
    transform-origin: 100% 0%;
    transition: all 0.3s ease-in-out;
  }

  .menus.open{
    opacity: 1;
    z-index: 2;
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }

  .menu-items {
    width: 100%;
  }

  .menu-items > a{
    text-align: center;
  }

  .menu-items .dropdowm > li{
    justify-content: center;
  }

  .dropdown-nav-subelements{
    min-width: 11rem;
    top: 3rem;
    right: 50%;
    translate: 50%;
    left: unset;
  }
}

@media (max-width: 400px){
  .nav-area .logo-wrapper img{
    width: 140px;
  }

  .nav-area .hamburgerMenu {
    right: 2rem;
  }
}