.navbar-container {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529;
  background-color: #FFC533;
}

.nav-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 10px;
}

.menu-items {
  position: relative;
  font-size: 17px;
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.menu-items button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  font-weight: bold;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.menu-items button.isActive{
  background-color: #E67F0D;
  border-radius: 4px;
}


.menu-items > a,
.menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover,
.menu-items .active {
  background-color: #E67F0D;
  border-radius: 4px;
}

.dropdown-nav-subelements{
  background-color: #FFC533;
  padding: 4px 0;
  min-width: 14rem;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08), 0 4px 6px -2px rgba(71, 63, 79, 0.16);
  border: 1px solid black;
  position: absolute;
  top: 4.07rem;
  z-index: 10;
}

.dropdown-nav-subelements::before{
  content: "";
  position: absolute;
  top: -8px;
  left: 6px;
  border: 1px solid black;
  transform: rotate(45deg);
  width: 2rem;
  height: 2rem;
  background-color: #ffc533;
  z-index: 8;
}

.dropdown-nav-subelements a{
  padding: 15px 10px;
  font-size: large;
}

.dropdown-nav-subelements a:hover{
  background-color:  #ffefbab7; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 0;
}




/* dropdown button arrow styling */

.menuIsActivated {
  margin-top: 2.5px;
  margin-left: 5px;
  transform: rotate(-180deg);
  transition: 0.2s;
}

.menuIsDeactivated {
  margin-top: 2.5px;
  margin-left: 5px;
  transform: rotate(0);
  transition: 0.2s;
}



/* .dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
} */

/* content */

/* .content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 20px;
}

.content h2 {
  margin-bottom: 1rem;
}

.content a {
  color: #cc3852;
  margin-right: 10px;
} */
