:root{
  --swiper-overall-color: #01579b;
  --go-down-arrow-color: #fff;
}

.container{
  width: 100%;
  height: 90vh;
  position: relative;
}

.slides-container{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto 5rem;
}

.slides-container .img-container{
  position: relative;
  display: flex;
  justify-content: center;
}

.slides-container .img-container h1{
  max-width: 40rem;
  position: absolute;
  top: 10%;
  left: 10%;
  user-select: text;
  background-color: rgba(0, 0, 0, 0.507);
  padding: 2rem;
  color: #fff;
}

.slides-container img{
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev{
  color: var(--swiper-overall-color);
  width: 85px;
  height: 826px;
  top: 22px;
}

.swiper-button-next{
  right: 0;
  transition: 0.2s;
}

.swiper-button-prev{
  left: 0;
  transition: 0.2s;
}

.swiper-button-next:hover{
  background-color: rgba(152, 153, 155, 0.171);
  box-shadow: -23px 10px 23px 4px rgba(0,0,0,0.1);
}

.swiper-button-prev:hover{
  box-shadow: 23px 0px 23px 4px rgba(0,0,0,0.1);
  background-color: rgba(152, 153, 155, 0.171);
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  left: 90px;
  width: auto;
}

.swiper-heading{
  transform: translate(10px);
  animation: fadewithdelay 0.8s 1s ease-in-out both alternate;
}

@keyframes fadewithdelay{
  from{
    opacity: 0;
    transform: scale(0);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}