:root {
  --swiper-overall-color: #01579b;
  --go-down-arrow-color: #fff;
}

.slider {
  width: 100%;
  height: 89.2dvh;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.slider-wrapper .slider-card {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(.9);
  pointer-events: none;
  transition: .5s ease-in-out;
}

.slider-wrapper .slider-card_active{
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
}

.slider-wrapper .slider-card .card-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: flex-end;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 96%);
}

.slider-wrapper .slider-card .card-title {
  position: absolute;
  left: 7rem;
  color: #fff;
  z-index: 0;
}

.slider-wrapper .slider-card .card-title::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #01579b;
  width: 100%;
  height: 10px;
  z-index: -1;
  transition: 0.2s;
}

.slider-wrapper .slider-card .card-title:hover::after{
  height: 20px;
}

.slider-wrapper .slider-card img {
  width: 100%;
  height: 100%;
}

.slider-wrapper .slide-left-button,
.slider-wrapper .slide-right-button{
  position: absolute;
  font-size: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 100%;
  transition: .5s;
  color: var(--swiper-overall-color);
}

.slider-wrapper .slide-left-button{
  left: 0;
}

.slider-wrapper .slide-right-button{
  right: 0;
}

.slider-wrapper .slide-left-button:hover{
  background-color: rgba(152, 153, 155, 0.171);
  box-shadow: 23px 0px 23px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.slider-wrapper .slide-right-button:hover{
  background-color: rgba(152, 153, 155, 0.171);
  box-shadow: -23px 10px 23px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.slider-wrapper .carousel-pagination{
  position: absolute;
  bottom: 30px;
  right: 15rem;
  display: flex;
  gap: .4rem;
}

.slider-wrapper .pagination-dot{
  width: 35px;
  height: 6px;
  cursor: pointer;
  background-color: var(--swiper-overall-color);
}

.slider-wrapper .pagination-dot_active{
  background-color: #fff;
  padding: 2px;
}

/************************ HTML: <div class="loader"></div> ************************/
.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 0 0 #0004;
  animation: l2 1.5s infinite linear;
  position: relative;
  margin: 5rem auto 0;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #0004;
  animation: inherit;
  animation-delay: -0.5s;
}
.loader:after {
  animation-delay: -1s;
}
@keyframes l2 {
  100% {
    box-shadow: 0 0 0 40px #0000;
  }
}
/* HTML: <div class="loader"></div> */


@media (min-width: 1921px) {
  .slider-wrapper .slide-left-button,
  .slider-wrapper .slide-right-button {
    width: 130px;
  }

  .slider {
    height: 91.6dvh;
  }
}

@media (min-width: 1120px) and (max-width: 1919px) {

  .slider {
    height: 88.3dvh;
  }

  .slider-wrapper .slider-card .card-title {
    max-width: 40rem;
  }

  .slider-wrapper .slider-card .card-title::after{
    display: none;
  }
}

@media (max-width: 1119px) {

  .slider {
    height: 84.4dvh;
  }

  .slider-wrapper .slider-card .card-title {
    max-width: 35rem;
  }
  .slider-wrapper .slider-card .card-title::after{
    display: none;
  }
}

@media (max-width: 1440px) {

  .slider-wrapper .slider-card .card-title {
    bottom: 7rem;
  }
}

@media (max-width: 768px) {

  .slider-wrapper .slider-card .card-title {
    max-width: 25rem;
  }

  .slider-wrapper .carousel-pagination{
    right: 25%;
  }
}

@media (min-width: 400px) and (max-width: 768px) {
  .slider {
    height: 85dvh;
  }
}

@media (max-width: 620px) {

  .slider-wrapper .slider-card .card-title {
    max-width: 14rem;
    font-size: 25px;
    left: 6rem;
  }

  .slider-wrapper .carousel-pagination{
    right: 30%;
  }

  .slider-wrapper .pagination-dot{
    width: 15px;
    height: 8px;
    border-radius: 10%;
  }
}