.main-partners-container{
  margin: 0 auto 6rem;
}

.main-partners-container > h1{
  margin-bottom: 10rem;
  text-align: center;
}

.main-partners-contaner_first-partner,
.main-partners-contaner_second-partner{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10rem;
}

.main-partners-contaner_first-partner .left-part{
  display: flex;
  justify-content: center;
}

.main-partners-contaner_first-partner .right-part{
  width: 80%;
  text-align: justify;
  padding-left: 12rem;
  display: flex;
  align-items: center;
}

.main-partners-contaner_second-partner .right-part{
  display: flex;
  justify-content: center;
}

.main-partners-contaner_second-partner .left-part{
  width: 80%;
  text-align: justify;
  padding-left: 12rem;
  display: flex;
  align-items: center;
}