.main-partners-container {
  margin-bottom: 12rem;
}

.main-partners-container > h1 {
  text-align: center;
  margin-bottom: 5rem;
}

.partners-grid {
  height: 900px;
  position: relative;
  overflow: hidden;
  background-color: #f1f4f5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='84' height='84' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23c8cbcc' fill-opacity='0.14'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.14'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

.partners-grid-inside-box{
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 300px);
  gap: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -60%;
}

.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);

  width: 300px;
  height: 300px;
}

.flip-card {
  width: inherit;
  height: inherit;
  position: relative;
}

.card-front {
  width: 100%;
  height: 100%;
  border-radius: 24px;

  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}



figure {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.img-bg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  height: 0;
  transition: 1s;
}

.card-front:hover .img-bg {
  height: 50%;
}

.img-bg1 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
  transition: 1s;
}

.card-front:hover .img-bg1 {
  height: 50%;
}

.card-front img {
  height: 100%;
  width: 100%;
  border-radius: 24px;
}

figcaption {
  scale: 0;
  width: auto;
  padding: 4px 25px;

  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;

  position: absolute;
  top: 41%;
  right: 40%;
  translate: 30% 35%;

  color: var(--white-1);
  background: hsla(var(--hue), 25%, 10%, 0.5);
  transition: 0.5s;
  z-index: 5;
}

.card-front:hover figcaption {
  scale: 1;
}

.img-bg,
.img-bg1 {
  background: hsla(var(--hue), 25%, 10%, 0.5);
}

.design-container {
  --tr: 90;
  --op: 0.5;

  width: 100%;
  height: 100%;

  background: transparent;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}

.design {
  display: block;

  background: var(--grey);
  position: absolute;

  opacity: var(--op);
  transition: 1s;
}

.design--1,
.design--2,
.design--3,
.design--4 {
  width: 1px;
  height: 100%;
}

.design--1,
.design--2 {
  top: 0;
  transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--1 {
  left: 20%;
}

.design--2 {
  left: 80%;
}

.design--3,
.design--4 {
  bottom: 0;
  transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%));
}

.design--3 {
  left: 24%;
}

.design--4 {
  left: 76%;
}

.design--5,
.design--6,
.design--7,
.design--8 {
  width: 100%;
  height: 1px;
}

.design--5,
.design--6 {
  left: 0;
  transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--5 {
  top: 41%;
}

.design--6 {
  top: 59%;
}

.design--7,
.design--8 {
  right: 0;
  transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%));
}

.design--7 {
  top: 44%;
}

.design--8 {
  top: 56%;
}

.card-front:hover > .design-container {
  --tr: 20;
  --op: 0.7;
}

.partners-grid .test {
  border: 0px;
  border-radius: 52% 48% 40% 60% / 48% 48% 52% 52%;
  width: 15px;
  height: 700px;
  position: absolute;
  top: -3%;
  left: 31.7%;
  background-color: #ffc533;
}

.partners-grid .test1 {
  border: 0px;
  border-radius: 52% 48% 40% 60% / 48% 48% 52% 52%;
  width: 15px;
  height: 700px;
  position: absolute;
  bottom: -4%;
  left: 67.1%;
  background-color: #ffc533;
}

.partners-grid .test2 {
  border: 0px;
  border-radius: 52% 48% 40% 60% / 48% 48% 52% 52%;
  width: 15px;
  height: 1100px;
  rotate: 90deg;
  position: absolute;
  left: 49.4%;
  top: -33.8%;
  background-color: #ffc533;
}
