/* Finished projects page layout styles */
.projects-page_header{
  padding: 3rem 0;
  width: 100%;
}

.projects-page_header .main-heading {
  text-align: center;
  color: #000;
  text-transform: uppercase;
}

.projects-page_main-content {
  padding: 4rem 0;
  color: #fff;
  width: 100%;
  /* Used this overflow property here to prevent the page to be scrollable for a few secs on x axis on load since I use react-reveal Fade component */
  overflow: hidden;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 0 0 #0004;
  animation: l2 1.5s infinite linear;
  position: relative;
  margin: 0 auto;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #0004;
  animation: inherit;
  animation-delay: -0.5s;
}
.loader:after {
  animation-delay: -1s;
}
@keyframes l2 {
    100% {box-shadow: 0 0 0 40px #0000}
}