.footer-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 10rem 1.5rem;
}

.footer-container .info-box{
  display: flex;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  color: #bdbdbd;
}

@media (max-width: 540px){
  .footer-container{
    padding: 0 1rem 1.5rem;
  }
}