.priorities-container h4{
  text-align: center;
}

.accordion{
  margin: 3rem 0;
  border: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.accordion-item{
  background-color: #000;
  border: 5px solid rgba(128,128,128, 0.140);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 60rem;
}

.accordion-button{
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 5px solid #FFC533;
  border-radius: 0 0 5px 5px;
}

.activeOne{
  transform: rotate(180deg);
  transition: 0.5s ease;
}