.main-marquee-container{
  width: 100%;
  margin: 0 auto;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.marquee-title{
  text-align: center;
  margin: 8rem auto 2rem;
}

.marquee-container{
  height: 20rem;
  display: flex;
  align-items: center;
}

.marquee-images{
  height: 20rem;
}

.marquee-container img{
  width: 80%;
  height: 90%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

/* ****************************styles according to screen sizes********************************* */
@media (max-width: 768px){
  .main-marquee-container{
    gap: 2rem;
    margin-top: 3rem;
  }

  .main-marquee-container .marquee-container .logos-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .main-marquee-container,
  .marquee-container{
    height: fit-content;
  }

  .logos-container img{
    width: 100%;
    height: 100%;
  }

  .marquee-images{
    width: 60%;
    height: 19rem;
  }
}