.main-marquee-container{
  width: 100%;
  margin: 0 auto 10rem;
  height: 63vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.marquee-title{
  text-align: center;
  margin: 8rem auto 2rem;
}

.marquee-container{
  height: 25rem;
}

.marquee-images{
  height: 25rem;
}

.marquee-container img{
  width: 80%;
  height: 90%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 0 0 #0004;
  animation: l2 1.5s infinite linear;
  position: relative;
  margin: 5rem auto 0;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #0004;
  animation: inherit;
  animation-delay: -0.5s;
}
.loader:after {
  animation-delay: -1s;
}
@keyframes l2 {
    100% {box-shadow: 0 0 0 40px #0000}
}

/* styles according to screen sizes */
@media (max-width: 768px){
  .main-marquee-container .marquee-container .logos-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .main-marquee-container,
  .marquee-container{
    height: fit-content;
  }

  .logos-container img{
    width: 100%;
    height: 100%;
  }

  .marquee-images{
    width: 60%;
    height: 19rem;
  }
}